// Top Menu Styles

@import '../../../styles/variables__style.scss';
@import '../../../styles/themes/light__theme.scss';
@import '../../../styles/mixins__style.scss';

.top-menu {
  @include flex-between;
  padding: 0 $spacing-md;

  &__brand {
    h1 {
      margin: 0;
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      color: $text-color;
    }
  }
}

