// Main Panel Styles

@import '../../../styles/variables__style.scss';
@import '../../../styles/themes/light__theme.scss';

.main-panel {
  padding: $spacing-lg;
  background: $background-color;
  min-height: calc(100vh - 64px);
  overflow-y: auto;
}

